.aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .items{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
    }
    h1{
        text-align: center;
    }
}

@media screen and (max-width: 1120px) {
    .aboutUs{
        padding-left: 0.7rem;
        h1{
            font-size: 1.5rem;
        }
        .items{
            gap: 1.5rem;
            flex-direction: column;
        }
    }
}