.aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .items{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3rem;
    }
    h1{
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .aboutUs{
        padding-left: 2rem;
    }
    .aboutElement{
        width: 9.7rem;
        border-radius: 30px;
    }
    h2{  
        font-size: 1rem;
        text-align: center;
    }
    p{
        font-size: 1rem;
        text-align: center;
    }
}
  
  @media (min-width: 769px) and (max-width: 1120px) {
    .aboutUs{
        padding-left: 2rem;
    }
    .aboutElement{
        width: 9.7rem;
        border-radius: 30px;
    }
    h2{  
        font-size: 1rem;
        text-align: center;
    }
    p{
        font-size: 1rem;
        text-align: center;
    }
  }