.contact{
    background-repeat: no-repeat;
    padding: 8rem 0 3rem 0;
    background-size: contain;
    background-position: bottom;
    .titleContact{
        padding-left: 4rem;
        font-size: 24px;
        font-weight: 600;
    }
    .allContactInfo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        .contactMapAddress{
            .map{
                padding-left: 2rem;
            }
        }
        .contactEmailPhone{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            .phoneEmail{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 3rem;
            }
        }
        .contactLogoSocialMedia{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h3{
                font-size: 1.5rem;
            }
            .socialMediaRight{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .SocialLogos{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 7px;
                    height: 2.3rem;
                }
            }
        }
    }
}
#phone, #email{
    text-decoration: underline !important;
}
svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.wave {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

@media screen and (max-width: 429px) {
    .contactEmailPhone {
        flex-direction: column !important;
        align-items: center !important;
        gap: 0px !important;
        .phoneEmail{
            padding-top: 0.5rem !important;
        }
    }
}

@media screen and (max-width: 1120px) {
    .contact {
        .allContactInfo {
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0rem 1rem 0rem 0rem;
            .contactEmailPhone {
                gap: 1rem;
                order: -1;
                flex-direction: row;
                align-items: flex-start;
                .phoneEmail{
                    padding-top: 5.5rem;
                    img{
                        height: 0.8rem;
                    }
                    a{
                        font-size: 0.7rem;
                    }
                    h2{
                        margin: 0;
                    }
                }
            }
        }
        .titleContact{
            padding-left: 2rem;
            padding-bottom: 0.5rem;
            font-size: 0.8rem;
        }
        .contactMapAddress{
            h3{
                font-size: 0.8rem;
            }
        }
        .contactMapAddress:before {
            padding-left: 0rem !important;
            content: "Visit Us";
            color: rgb(0, 0, 0);
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: block;
        }
        .contactLogoSocialMedia{
            display: flex;
            flex-direction: row !important;
            align-items: center !important;
            padding-left: 1rem !important;
            gap: 1rem !important;
            h3{
                font-size: 0.8rem !important;
                font-weight: 300px !important;
            }
            .socialMediaRight{
                gap: 0.5rem !important;
                align-items: center !important;
                .mainBuisnessLogo{
                    height: 6.5rem;
                }
                .SocialLogos{
                    height: 1.5rem !important;
                }
            }
        }
    }
}
